# files/folders to ignore in survey processing


SPA/env/
SPA/.vs
SPA/__pycache__

SPA_Inputs/
SPA_Processed/
Visualizer/dependencies/
zone_data

.Rhistory
mf5183.zmx

cmap_survey_weighting/data
cmap_survey_weighting/output
nirpc_survey_weighting/output


# avoid data files unless we know they are not personal info or large files:
*.rds
*.csv

!acs_county_flows_IL.csv
!county_lookup.csv

!Visualizer/summaries/tripModeProfile_vis_calib.csv
!Visualizer/summaries/tmodeProfile_vis_calib.csv

!underreporting_correction/imputed_ages.rds
!underreporting_correction/imputed_income.rds
!underreporting_correction/imputed_sex.rds
!model_summaries/.

!survey_data/cmap_weights/.
survey_data/CTA_2017/
survey_data/MDT_CMAP_Research_Dataset_Lean/

survey_data/NIRPC_MDT_survey/
survey_data/Metra_2019/